body {
  font-family: Arial, sans-serif;
  padding: 15px;
  background: #000;
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.upload-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

#fileInput {
  font-size: 18px;
  padding: 12px;
  background: #222;
  color: white;
  border-radius: 8px;
  border: 2px solid #555;
}

.controls {
  text-align: center;
  margin-bottom: 15px;
}

button {
  padding: 10px 18px;
  margin: 5px;
  font-size: 16px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: #555;
}

#viewer {
  background: #111;
  padding: 10px;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 8px;
}

canvas, img {
  max-width: 100%;
  display: block;
  margin: 15px auto;
}

.text-layer {
  padding: 10px;
  margin-bottom: 25px;
  background: #000;
  border-left: 4px solid #444;
}

.word {
  cursor: pointer;
}

.highlight {
  background: yellow;
  color: black;
}
